<!DOCTYPE html>
<html>
<head>
    <title>DeChess</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css">
    <style>
        #board {
            width: 700px;
            height: 700px;
        }
    </style>
</head>
<body class="bg-dark">
<div class="container-fluid">
    <div class="row mx-4">
        <div class="col-md-3">
            <% if (loggedInUser.id !== -1) { %>
                <div class="row text-start">
                    <div class="d-flex mt-4">
                        <div>
                            <button class="btn btn-primary me-3" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#profileMenu" aria-controls="profileMenu">
                                <img class="m-1" src="/img/user.png" alt="User Image" width="38" height="38">
                            </button>
                        </div>
                        <div>
                            <p class="text-white text-center mb-0">Logged in as: </p>
                            <p><strong class="text-warning fs-4"><%= loggedInUser.username %></strong></p>
                        </div>
                    </div>
                </div>
                <div class="offcanvas offcanvas-start bg-dark border-end" tabindex="-1" id="profileMenu"
                     aria-labelledby="profileMenuLabel" data-bs-backdrop="false">
                    <div class="offcanvas-header bg-dark">
                        <h2 class="offcanvas-title text-white" id="profileMenuLabel">Profile Menu</h2>
                        <button type="button" class="btn-close-white" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body bg-dark">
                        <ul class="list-group bg-dark">
                            <li class="list-group-item bg-dark"><a href="#" class="btn btn-dark w-100 text-start">Edit
                                    Profile</a></li>
                            <li class="list-group-item bg-dark"><a href="#"
                                                                   class="btn btn-dark w-100 text-start">Friends</a>
                            </li>
                            <li class="list-group-item bg-dark"><a href="#"
                                                                   class="btn btn-dark w-100 text-start">Clubs</a>
                            </li>
                            <li class="list-group-item bg-dark"><a href="#" class="btn btn-dark w-100 text-start">Achievements</a>
                            </li>
                            <li class="list-group-item bg-dark"><a href="/user/<%= loggedInUser.id%>" class="btn btn-dark w-100 text-start">Rating/Statistics</a>
                            </li>
                            <li class="list-group-item bg-dark"><a href="#" class="btn btn-dark w-100 text-start">Friends
                                    Requests</a></li>
                            <div class="mt-5">
                                <a href="/logout" class="btn btn-danger w-100 text-center text-white">Logout</a>
                            </div>
                        </ul>
                    </div>
                </div>
            <% } else { %>
                <div class="row text-start">
                    <div class="d-flex mt-4">
                        <div>
                            <a class="btn btn-primary me-3" href="/login">
                                <img class="m-1" src="/img/login.png" alt="User Image" width="38" height="38">
                            </a>
                        </div>
                        <div>
                            <p class="text-white text-center mb-0">Logged in as: </p>
                            <p><strong class="text-warning fs-4"><%= loggedInUser.username %></strong></p>
                        </div>
                    </div>
                </div>
            <% } %>
            <div class="row">
                <h2 class="text-white text-center mt-5">Top Elo Games</h2>
                <h4 class="text-white text-center mb-3">to watch</h4>
            </div>
            <div class="row">
                <ul class="list-group mt-3">
                    <% for (let i = 0; i < games.length; i++) { %>
                        <li class="list-group-item bg-dark text-white d-flex justify-content-between align-items-center">
                            <span>Elo Avg.: <span class="text-warning fw-bold"><%= games[i].average_elo_rating %></span></span>
                            <button class="btn btn-primary"
                                    onclick="spectateGame(<%= games[i].id %>, '<%= loggedInUser.username %>')">Spectate
                            </button>
                            <div class="d-flex align-items-center">
                                <span class="me-3 text-warning fw-bold"><%= games[i].player1_username %></span>
                                <span> vs </span>
                                <span class="ms-3 text-warning fw-bold"><%= games[i].player2_username %></span>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="col-md-6 mx-auto mt-4">
            <div class="row">
                <a href="/" class="text-decoration-none">
                    <h1 class="display-2 text-white text-center mb-4">DeChess</h1>
                </a>
            </div>
            <div class="row">
                <div id="board" class="mx-auto"></div>
                <div id="MiddleAbsoluteWindow"
                     class="position-absolute top-50 start-50 translate-middle text-center pb-3">
                    <a href="#" class="btn btn-lg btn-primary fs-3 mt-2 HomeScreenButton">Play vs AI</a><br>
                    <a href="#" class="btn btn-lg btn-primary fs-1 mt-2 HomeScreenButton" onclick="queueUp()">Play vs
                        Player</a><br>
                    <a href="#" class="btn btn-primary mt-2 HomeScreenButton">Create Custom Game</a><br>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row text-end justify-content-end">
                <div class="col-4">
                    <button class="btn btn-primary mt-4" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#menu" aria-controls="menu">
                        <img class="m-1" src="/img/menu.png" alt="User Image" width="32" height="32">
                    </button>
                </div>
            </div>
            <div class="row mt-5" style="height: 65vh;">
                <h2 class="text-white text-center">Moves</h2>
                <div class="bg-dark text-white p-3 border border-white rounded overflow-auto" id="moves" style="height: 100%;">
                </div>
            </div>
            <div class="offcanvas offcanvas-end bg-dark border-start" tabindex="-1" id="menu"
                 aria-labelledby="menuLabel" data-bs-backdrop="false">
                <div class="offcanvas-header bg-dark">
                    <h2 class="offcanvas-title text-white" id="menuLabel">Menu</h2>
                    <button type="button" class="btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close">
                    </button>
                </div>
                <div class="offcanvas-body bg-dark">
                    <h5 class="text-white">General</h5>
                    <ul class="list-group bg-dark">
                        <li class="list-group-item bg-dark"><a href="#" class="btn btn-dark w-100 text-start">Play</a>
                        </li>
                        <li class="list-group-item bg-dark"><a href="#"
                                                               class="btn btn-dark w-100 text-start">Learn</a>
                        </li>
                        <li class="list-group-item bg-dark"><a href="#"
                                                               class="btn btn-dark w-100 text-start">Challenges</a>
                        </li>
                        <li class="list-group-item bg-dark"><a href="#" class="btn btn-dark w-100 text-start">Ranking/Leaderboard</a>
                        </li>
                        <li class="list-group-item bg-dark"><a href="#" class="btn btn-dark w-100 text-start">Tournaments</a>
                        </li>
                    </ul>
                    <h5 class="text-white mt-4">Settings</h5>
                    <ul class="list-group bg-dark">
                        <li class="list-group-item bg-dark"><a href="#" class="btn btn-dark w-100 text-start">Account
                                Settings</a></li>
                        <li class="list-group-item bg-dark"><a href="#"
                                                               class="btn btn-dark w-100 text-start">Notification
                                Preferences</a>
                        </li>
                        <li class="list-group-item bg-dark"><a href="#"
                                                               class="btn btn-dark w-100 text-start">Appearance/Theme
                                Options</a>
                        </li>
                        <li class="list-group-item bg-dark"><a href="#" class="btn btn-dark w-100 text-start">Sound</a>
                        </li>
                        <li class="list-group-item bg-dark"><a href="#" class="btn btn-dark w-100 text-start">Privacy
                                and Data Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Create a new board
    let board = null
    let game = new Chess()
    let whiteSquareGrey = '#a9a9a9'
    let blackSquareGrey = '#696969'
    let playerColor = '';
    let opponentName = '';
    let spectatingGameId = '';

    function spectateGame(gameId, username) {
        fetch('/spectate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: username,
                gameId: gameId
            })
        });
    }

    function removeGreySquares() {
        $('#myBoard .square-55d63').css('background', '')
    }

    function greySquare(square) {
        var $square = $('#myBoard .square-' + square)

        var background = whiteSquareGrey
        if ($square.hasClass('black-3c85d')) {
            background = blackSquareGrey
        }

        $square.css('background', background)
    }

    function onDragStart(source, piece) {
        // Do not pick up pieces if the game is over
        if (game.game_over() || opponentName === '') return false;

        // Check if it is the player's turn
        if ((game.turn() === 'w' && playerColor !== 'white') ||
            (game.turn() === 'b' && playerColor !== 'black')) {
            return false;
        }

        // Check if the piece being moved belongs to the player
        if (piece.charAt(0) !== game.turn()) {
            return false;
        }
    }

    function onDrop(source, target) {
        removeGreySquares()

        var move = game.move({
            from: source,
            to: target,
            promotion: 'q'
        })

        if (move === null) {
            return 'snapback'
        } else {
            console.log("sent new Fen String: " + game.fen());
            addNewMoveToTheList(move);
            ws.send(JSON.stringify({
                type: 'move',
                newBoard: game.fen(),
                move: move,
                opponent: opponentName
            }));
            checkIfGameIsOverAndDisplayIt();
        }
    }

    function onMouseoverSquare(square, piece) {
        // get list of possible moves for this square
        var moves = game.moves({
            square: square,
            verbose: true
        })

        // exit if there are no moves available for this square
        if (moves.length === 0) return

        // highlight the square they moused over
        greySquare(square)

        // highlight the possible squares for this piece
        for (var i = 0; i < moves.length; i++) {
            greySquare(moves[i].to)
        }
    }

    function onMouseoutSquare(square, piece) {
        removeGreySquares()
    }

    function onSnapEnd() {
        board.position(game.fen())
    }

    var config = {
        draggable: true,
        position: '',
        onDragStart: onDragStart,
        onDrop: onDrop,
        onMouseoutSquare: onMouseoutSquare,
        onMouseoverSquare: onMouseoverSquare,
        onSnapEnd: onSnapEnd,
        pieceTheme: '/img/chesspieces/wikipedia/{piece}.png'
    }
    board = Chessboard('board', config)

    // Create a new WebSocket connection
    let ws = new WebSocket('ws://localhost:25056');

    // Handle WebSocket errors
    ws.onerror = function (event) {
        console.error('WebSocket error:', event);
    };

    ws.onopen = function () {
        console.log('websocket is connected ...')
        ws.send(JSON.stringify({
            type: 'init',
            username: <%- JSON.stringify(loggedInUser.username) %>
        }));
    }

    function addNewMoveToTheList(move) {
        // Add new move to moves list
        let movesList = document.querySelector('#moves');
        let moveColor = move.color === 'w' ? 'White' : 'Black';
        let moveSan = move.san;
        let moveText = `${moveColor}: ${moveSan}`;
        let moveItem = document.createElement('div');
        moveItem.classList.add('py-1', 'px-2', 'border-bottom', 'text-center');
        moveItem.textContent = moveText;
        movesList.appendChild(moveItem);
    }

    function checkIfGameIsOverAndDisplayIt() {
        if (game.game_over()) {
            let result = getResult();

            opponentName = '';
            document.querySelector('#opponentDiv').remove();
            let resultDiv = document.createElement('div');
            resultDiv.classList.add('position-absolute', 'top-50', 'start-50', 'translate-middle', 'text-center', 'pb-3');
            resultDiv.innerHTML = `<h2 class="text-white bg-dark border border-white rounded p-2 d-inline-block">${result}</h2>`;
            document.querySelector('#MiddleAbsoluteWindow').appendChild(resultDiv);
        }
    }

    function addStaticNewMoveToTheList(move_san) {
        // Add new move to moves list
        let movesList = document.querySelector('#moves');
        let moveItem = document.createElement('div');
        moveItem.classList.add('py-1', 'px-2', 'border-bottom', 'text-center');
        moveItem.textContent = move_san;
        movesList.appendChild(moveItem);
    }

    ws.onmessage = function (event) {
        console.log(`${event.data}`);
        let message = JSON.parse(event.data);
        if (message.type === 'startGame') {
            spectatingGameId = '';
            console.log('Starting game...');
            playerColor = message.color;
            opponentName = message.opponent;
            let opponentElo = message.eloRating;
            console.log('Player color:', playerColor);

            board.position('start');
            if (playerColor === 'black') {
                board.flip();
            }

            document.querySelector('#MiddleAbsoluteWindow').innerHTML = '';

            let opponentDiv = document.createElement('div');
            opponentDiv.classList.add('text-center', 'text-white', 'd-inline-block');
            opponentDiv.innerHTML = `
                <div id="opponentDiv" class="d-flex justify-content-center align-items-start">
                    <div class="me-3 d-flex flex-column justify-content-center">
                        <h4 class="align-self-center">Opponent: <span class="text-warning">${opponentName}</span></h4>
                        <p class="align-self-center">Elo rating: <span class="text-warning">${opponentElo}</span></p>
                    </div>
                    <button class="btn btn-lg btn-danger fs-4 mt-1" onclick="surrender('<%= loggedInUser.username %>')">Surrender</button>
                </div>
            `;

            document.querySelector('#MiddleAbsoluteWindow').parentElement.appendChild(opponentDiv);
        } else if (message.type === 'move') {
            let newFen = message.newBoard;
            console.log('Received new FEN string:', newFen);
            game.load(newFen);
            board.position(game.fen());

            addNewMoveToTheList(message.move);

            checkIfGameIsOverAndDisplayIt();
        } else if (message.type === 'gameOver') {
            console.log('Game over. Winner:', message.winnerUsername);
            opponentName = '';
            document.querySelector('#opponentDiv').remove();
            let resultDiv = document.createElement('div');
            resultDiv.classList.add('position-absolute', 'top-50', 'start-50', 'translate-middle', 'text-center', 'pb-3');
            resultDiv.innerHTML = `<h2 class="text-white bg-dark border border-white rounded p-2 d-inline-block">${message.winner} wins!</h2>`;
            document.querySelector('#MiddleAbsoluteWindow').appendChild(resultDiv);
        } else if (message.type === 'joinAsSpectator') {
            console.log('Joining as spectator...');
            spectatingGameId = message.gameId;
            let player1Username = message.player1Username;
            let player2Username = message.player2Username;
            let player1Elo = message.player1Elo;
            let player2Elo = message.player2Elo;

            let movesList = document.querySelector('#moves');
            let moves = message.moves;
            movesList.innerHTML = '';
            for (let i = 0; i < moves.length; i++) {
                addStaticNewMoveToTheList(moves[i].move_san);
            }

            let gameFen = message.gameFen;
            board.position(gameFen);

            document.querySelector('#MiddleAbsoluteWindow').innerHTML = '';

            let opponentDiv = document.createElement('div');
            opponentDiv.classList.add('text-center', 'text-white', 'd-inline-block');
            opponentDiv.innerHTML = `
                <div id="opponentDiv" class="d-flex justify-content-center align-items-start">
                    <div class="me-3 d-flex flex-column justify-content-center">
                        <h4 class="align-self-center">${player1Elo} <span class="text-warning">${player1Username}</span> vs <span class="text-warning">${player2Username}</span> ${player2Elo}</h4>
                    </div>
                </div>
            `;
            document.querySelector('#MiddleAbsoluteWindow').parentElement.appendChild(opponentDiv);
        } else if (message.type === 'specMove') {
            let newFen = message.newBoard;
            console.log('Received new FEN string:', newFen);
            game.load(newFen);
            board.position(game.fen());

            addNewMoveToTheList(message.move);

            checkIfGameIsOverAndDisplayIt();
        }
    };

    function surrender(playername) {
        ws.send(JSON.stringify({
            type: 'surrender',
            winner: opponentName,
            loser: playername,
            winnerColor: playerColor === 'white' ? 'Black' : 'White'
        }));
    }

    function getResult() {
        if (game.in_checkmate()) {
            return game.turn() === 'w' ? 'Black won!' : 'White won!';
        } else if (game.in_draw()) {
            return 'Draw!';
        } else {
            return null;
        }
    }

    function queueUp() {
        document.querySelector('.HomeScreenButton').style.display = 'none';
        document.querySelector('#MiddleAbsoluteWindow').innerHTML = '<h2 class="text-white bg-dark border border-white rounded p-2 px-4 d-inline-block">Looking for Opponent...</h2>';
        fetch('/queueup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                userId: <%= JSON.stringify(loggedInUser.id) %>,
                username: <%- JSON.stringify(loggedInUser.username) %>})
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network Error');
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }
</script>
</body>
</html>